NEXT_PUBLIC_SUPABASE_URL=https://zycggjadexwzhluofbfs.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_95iTOr3sq0RO2JCnQ9RoEA_hwlQF5Re
ADMIN_USERNAME=counterpro@tecstellar.com
ADMIN_PASSWORD=Counterproadmin@4321
ADMIN_SESSION_SECRET=counterpro_admin_super_secret_jwt_key_2026_tecstellar
